.mySlides{
  height:400px;
  width:650px;
  border-style: solid;
	border-color: black;
	border-width: 5pt;
  border-radius: 50%;
}
h1{
  text-align:center;
  font-family:papyrus;
}
.config{
  padding-left:450px;
}
.w3-button w3-display-left
{
  padding-left:400px;
}
.w3-button w3-display-right
{
  padding-left:600px;
}
.buttonstart{
  margin-left:470px;  
}
.buttonstop{
  margin-left:470px;  
}
